# Visualizing and preparing data from the Titanic dataset.
### Author: Tiernan Lindauer

In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from pandas import DataFrame
from sklearn.preprocessing import OrdinalEncoder

In [3]:
titanic_data: DataFrame = pd.read_csv("data/train.csv")
titanic_data.drop(labels=["PassengerId", "Name", "Cabin", "Ticket"], axis=1, inplace=True)

Translate `male` or `female` into either 1 or 0, respectively

In [4]:
ordinal_encoder = OrdinalEncoder()
sex_cat = titanic_data[["Sex"]]
sex_cat_encoded = ordinal_encoder.fit_transform(sex_cat)
titanic_data[["Sex"]] = sex_cat_encoded

Translate the `Embarked` status into categories

In [5]:
titanic_data = pd.get_dummies(titanic_data , columns=['Embarked'] , prefix='Embarked')

Print how correlated each data entry is with all other data entries

In [6]:
corr_matrix: DataFrame = titanic_data.corr()
print(corr_matrix["Survived"].sort_values(ascending=False))

Survived      1.000000
Fare          0.257307
Embarked_C    0.168240
Parch         0.081629
Embarked_Q    0.003650
SibSp        -0.035322
Age          -0.077221
Embarked_S   -0.155660
Pclass       -0.338481
Sex          -0.543351
Name: Survived, dtype: float64