# Visualizing and preparing data from the Titanic dataset.
### Author: Tiernan Lindauer

In [10]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from pandas import DataFrame
from pandas.plotting import scatter_matrix
from sklearn.preprocessing import OrdinalEncoder

In [16]:
titanic_data: DataFrame = pd.read_csv("data/train.csv")
titanic_data.drop(labels=["PassengerId", "Name", "Cabin", "Ticket"], axis=1, inplace=True)

Translate `male` or `female` into either 1 or 0, respectively

In [17]:
ordinal_encoder = OrdinalEncoder()
sex_cat = titanic_data[["Sex"]]
sex_cat_encoded = ordinal_encoder.fit_transform(sex_cat)
titanic_data[["Sex"]] = sex_cat_encoded

Translate the `Embarked` status into categories

In [18]:
embarked_cat = titanic_data[["Embarked"]]
embarked_cat_encoded = ordinal_encoder.fit_transform(embarked_cat)
titanic_data[["Embarked"]] = embarked_cat_encoded

Print how correlated each data entry is with all other data entries

In [14]:
corr_matrix: DataFrame = titanic_data.corr()
print(corr_matrix["Survived"].sort_values(ascending=False))

Survived    1.000000
Fare        0.257307
Parch       0.081629
SibSp      -0.035322
Age        -0.077221
Embarked   -0.169718
Pclass     -0.338481
Sex        -0.543351
Name: Survived, dtype: float64