# Predict the Outcome of Titanic Survivors
### Author: Tiernan Lindauer

In [47]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from pandas import DataFrame
from pandas.plotting import scatter_matrix
from sklearn.preprocessing import OrdinalEncoder
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import cross_val_score

In [5]:
titanic_data: DataFrame = pd.read_csv("data/train.csv")
titanic_data.drop(labels=["PassengerId", "Name", "Cabin", "Ticket"], axis=1, inplace=True)

More efficient way to encode `Sex` and `Embarked` columns

In [6]:
titanic_data = pd.get_dummies(titanic_data , columns=['Sex'] , prefix='Sex')
titanic_data = pd.get_dummies(titanic_data , columns=['Embarked'] , prefix='Embarked')

In [18]:
titanic_data.dropna(inplace=True)
titanic_data.head()

,Survived,Pclass,Age,SibSp,Parch,Fare,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S
0,0,3,22.0,1,0,7.2500,0,1,0,0,1
1,1,1,38.0,1,0,71.2833,1,0,1,0,0
2,1,3,26.0,0,0,7.9250,1,0,0,0,1
3,1,1,35.0,1,0,53.1000,1,0,0,0,1
4,0,3,35.0,0,0,8.0500,0,1,0,0,1

In [8]:
corr_matrix: DataFrame = titanic_data.corr()
print(corr_matrix["Survived"].sort_values(ascending=False))

Survived      1.000000
Sex_female    0.543351
Fare          0.257307
Embarked_C    0.168240
Parch         0.081629
Embarked_Q    0.003650
SibSp        -0.035322
Age          -0.077221
Embarked_S   -0.155660
Pclass       -0.338481
Sex_male     -0.543351
Name: Survived, dtype: float64

In [19]:
X = titanic_data.drop("Survived", axis=1, inplace=False)
y = titanic_data['Survived']

In [20]:
classifier = DecisionTreeClassifier(random_state=2343, criterion = 'entropy' , max_depth = 6 , min_samples_split=5)
classifier.fit(X, y)

DecisionTreeClassifier(criterion='entropy', max_depth=6, min_samples_split=5,
                       random_state=2343)

In [45]:
titanic_data_test = pd.read_csv("data/test.csv")
titanic_data_test.drop(labels=["PassengerId", "Name", "Cabin", "Ticket"], axis=1, inplace=True)
titanic_data_test = pd.get_dummies(titanic_data_test , columns=['Sex'] , prefix='Sex')
titanic_data_test = pd.get_dummies(titanic_data_test , columns=['Embarked'] , prefix='Embarked')
titanic_data_test.dropna(inplace=True)
titanic_display_test = pd.read_csv("data/test.csv")

In [62]:
survival_prediction = classifier.predict(titanic_data_test)
survival_prediction_dataframe = pd.DataFrame(survival_prediction, columns=['Survived'])
survival_prediction_dataframe.to_csv("DecisionTreeClassifierOutput.csv")

Score the classifier on the training data: Is not a very accurate reflection due to over/underfitting

In [61]:
classifier.score(X, y)

0.8683473389355743